exportPattern("nl")
export(millsR)
importFrom(DistributionUtils, logHist)
importFrom(DistributionUtils, safeIntegrate)
importFrom(DistributionUtils, momIntegrated, momChangeAbout)
importFrom(DistributionUtils, skewness, kurtosis)
importFrom(DistributionUtils, besselRatio, is.wholenumber)
importFrom(DistributionUtils, tsHessian)
importFrom(GeneralizedHyperbolic, rskewlap)
S3method(print,nlFit)
S3method(plot,nlFit)
S3method(coef,nlFit)
S3method(vcov,nlFit)
S3method(summary,nlFit)
S3method(print,summary.nlFit)
S3method(print,gnlFit)
S3method(plot,gnlFit)
S3method(coef,gnlFit)
S3method(vcov,gnlFit)
S3method(summary,gnlFit)
S3method(print,summary.gnlFit)
